.container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#daadf5,#ff9add,#b4fdff);
  font-family:Poppins,sans-serif;
}

/* CARD */
.card{
  background:linear-gradient(135deg,#ff6fd8,#f3cc96,#ff9a9e);
  padding:35px;
  border-radius:28px;
  text-align:center;
  max-width:520px;
  width:100%;
  box-shadow:0 20px 45px rgba(0,0,0,.25);
  animation:fadeIn 1s ease;
}

.title{
  font-size:32px;
  color:white;
  text-shadow:0 4px 10px rgba(0,0,0,.25);
}

/* FOTO HOME */
.gallery{
  display:flex;
  gap:12px;
  justify-content:center;
  margin:18px 0;
}

.foto{
  width:120px;
  height:120px;
  object-fit:cover;
  border-radius:20px;
  box-shadow:0 6px 18px rgba(0,0,0,.25);
  transition:.3s;
}

.foto:hover{
  transform:scale(1.1) rotate(3deg);
}

/* GRID */
.wishGrid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:16px;
  margin-top:20px;
}

/* BUTTON */
.wishButton{
  background:rgba(255,255,255,.85);
  padding:14px;
  border-radius:18px;
  text-align:center;
  font-size:15px;
  font-weight:600;
  text-decoration:none;
  color:#ff4d6d;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:.3s;
}

.wishButton:hover{
  transform:scale(1.08);
  background:white;
}

/* BUTTON ALL */
.allButton{
  grid-column:1 / -1;
  justify-self:center;
  width:60%;
}

.pageFancy{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start; /* GANTI INI */
  align-items:center;
  padding:30px 20px;

  background:linear-gradient(135deg,#daadf5,#ff9add,#b4fdff);
  font-family:Poppins,sans-serif;
}

/* CARD UTAMA */
.ucapanCard{
  background:white;
  padding:30px;
  border-radius:25px;
  text-align:center;
  max-width:400px;
  box-shadow:0 15px 35px rgba(0,0,0,0.15);
  animation:fadeIn 1s ease;
}

/* FOTO UCAPAN */
.photoFancy{
  border-radius:20px;
  object-fit:cover;
  box-shadow:0 10px 20px rgba(0,0,0,0.15);
  transition:.3s;
}

.photoFancy:hover{
  transform:scale(1.05);
}

/* TEXT */
.textUcapan{
  margin-top:10px;
  line-height:1.6;
  color:#555;
}

/* GRID ALL */
.cardGrid{
  flex:1;                         /* ✅ dorong ke tengah */
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:80px;
  width:100%;
  max-width:600px;
}


/* PHOTO CARD ALL */
.photoCard{
  background:rgba(255,255,255,0.35);
  backdrop-filter:blur(12px);
  padding:15px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
  transition:.3s;
}

.photoCard:hover{
  transform:translateY(-5px);
}

.photoCard p{
  margin-top:10px;
  font-size:14px;
  color:#444;
}

/* ANIMASI */
@keyframes fadeIn{
  from{opacity:0; transform:translateY(30px);}
  to{opacity:1; transform:translateY(0);}
}
.backBtn{
  margin-top:40px;      /* ⬅️ tambah jarak */
  margin-bottom:20px;
}
